<%- include('./partials/dashboard_header.ejs') %>

    <div class="notification-box">
        <div>
            <p class="box-title"></p>
            <p class="box-content"></p>
            <button class="close-notification-box">Close</button>
        </div>
    </div>
    <div class="dashboard-header">
        <h1>Dashboard</h1>
        <img draggable="false" src="imgs/menu.png" class="menu-icon" alt="Menu Icon">
    </div>
    <div class="dashboard-page-sides">
        <div class="navigations-side">
            <img draggable="false" src="imgs/close.png" class="close-menu" alt="Close Menu Icon">
            <ul>
                <li class="side-link">School calendar</li>
                <li class="side-link">School activities</li>
                <li class="side-link">Add a new user</li>
                <li class="side-link">All student</li>
                <li class="side-link">Send a message</li>
                <li class="side-link">Messages</li>
                <li class="side-link">SRMS</li>
                
            </ul>
        </div>
        <div class="content-side">
            <div class="welcome-header">
                <p user>Head Teacher</p>
            </div>
            <div class="information">
                <div class="information-header">
                    <p class="header-title">School Calendar</p>
                    <img draggable="false" class="close-information" src="imgs/close.png">
                </div>
                <div>
                    <p>You'll find messages waiting for you here.</p>
                </div>
            </div>
            <div class="information">
                <div class="information-header">
                    <p class="header-title">School Activities</p>
                    <img draggable="false" class="close-information" src="imgs/close.png">
                </div>
                <div>
                    <p>
                        The school operates for approximately to 8 hours. Beginning from Sundays to Thursdays, the college section
                        begins its activities from 8 am to nearly 4 pm, while the nursery and primary section
                        begins its activities from 8 am to 3 pm. The nursery and primary section does not operate on
                        Sundays. On Fridays, the college section closes at 12:15 pm, while the nursery and primary section 
                        closes at 12:00 pm.
                    </p>
                </div>
            </div>
            <div class="information">
                <div class="information-header">
                    <p class="header-title">Add a New User</p>
                    <img draggable="false" class="close-information" src="imgs/close.png">
                </div>
                <form action="signup" method="POST">
                    <p>Click the button below to register a new user.</p>
                    <button type="submit">Register User</button>
                </form>
            </div>
            <div class="information">
                <div class="information-header">
                    <p class="header-title">All Students</p>
                    <img draggable="false" class="close-information" src="imgs/close.png">
                </div>
                <div>
                    <div style="margin-bottom: 1rem;">
                        <% if (JSON.parse(allStudents).length < 1) { %>
                            <p>No students</p>
                        <% } else { %>
                            <div all-students-json hidden> <%= allStudents %> </div>
                            <label for="students-list-field">All students</label><br>
                            <select id="students-list-field">
                                <% JSON.parse(allStudents).forEach(student => { %>
                                    <option> <%= student.studentName.toUpperCase() %> </option>
                                <% }) %>
                            </select>
                            <div>
                                <p class="subhead">Student Information</p>
                                <p>Student name: <span class="student-name-text"></span></p>
                                <p>Parent name: <span class="student-parent-text"></span></p>
                                <p>Class: <span class="student-class-text"></span></p>
                                <p>Admission date: <span class="student-admission-date-text"></span></p>
                            </div>
                        <% } %>
                    </div>
                    <form action="register_student" method="POST">
                        <p>Click the button below to register a new student.</p>
                        <button type="submit">Register Student</button>
                    </form>
                </div>
            </div>
            <div class="information">
                <div class="information-header">
                    <p class="header-title">Send a Message</p>
                    <img draggable="false" class="close-information" src="imgs/close.png">
                </div>
                <div>
                    <label for="recipient_field">Recipient</label><br>
                    <input recipient-field type="text" placeholder="Enter the recipient's name here..."><br>
                    <input staff-radio id="staff-radio-button" name="recipient_opition" type="radio" value="staff">
                    <label for="staff-radio-button">Staff</label><br>
                    <input parent-radio id="parent-radio-button" name="recipient_opition" type="radio" value="parent">
                    <label for="parent-radio-button">Parent</label><br>
                    <textarea class="message-content" placeholder="Type your message here..."></textarea><br>
                    <button send-message>Send Message</button>
                </div>
            </div>
            <div class="information">
                <div class="information-header">
                    <p class="header-title">Messages</p>
                    <img draggable="false" class="close-information" src="imgs/close.png">
                </div>
                <div>
                    <% if (messages.length > 0) { 
                        messages.forEach(message => { %>
                            <div class="message">
                                <p>Sent on: <span class="message-date"> <%= message.date %> </span></p>
                                <p> <%= message.message %> </p>
                            </div>
                    <% })
                    } else { %> 
                        <p class="no-message">No messages to show.</p>
                    <% } %>
                </div>
            </div>
            <div class="information">
                <div class="information-header">
                    <p class="header-title">Students' Result Management System</p>
                    <img draggable="false" class="close-information" src="imgs/close.png">
                </div>
                <form action="results_management_system" method="POST">
                    <div>
                        <p>Click the button below to go to SRMS.</p>
                    </div>
                    <button type="submit">Go to SRMS</button>
                </form>
            </div>
        </div>
    </div>
    <script src="scripts/all-students.js"></script>
    <script src="scripts/admin-dashboard.js"></script>

<%- include('./partials/footer.ejs') %>
